<div class="total-shapes">
  <h3>{{ time }}</h3>
</div>
<div class="total-shapes">
  <div>
    <div class="constant-parent" *ngFor="let numbers of original">
      <div
        *ngFor="let number of numbers"
        [ngClass]="{
      'background-shape': shades.includes(number),
    }"
        class="constant-shapes"
      ></div>
    </div>
  </div>
  <div>
    <div class="middle-line"></div>
  </div>
  <div>
    <div class="constant-parent" *ngFor="let numbers of original">
      <button
        title="none"
        *ngFor="let number of numbers"
        [ngClass]="{
          'background-shape': clickShades.includes(number),
          'success-shape':
            clickShades.includes(number) && submit && shades.includes(number),
          'failure-shape':!clickShades.includes(number)&&   submit && shades.includes(number),
        }"
        class="button-shapes"
        (click)="onClickShades(number)"
      ></button>
    </div>
  </div>
</div>
<div class="button-container">
  <button (click)="onClickReset()" class="reset-button">Reset</button>
  <button (click)="onClickSubmit()" class="submit-button">Submit</button>
</div>
<div
  class="list-container"
  [ngStyle]="{ display: stamp.length ? 'block' : 'none' }"
>
  <ul>
    <li *ngFor="let each of stamp; let i = index" key="each">
      {{ each }}
    </li>
  </ul>
</div>
